<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/f9a7380946.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="../../style.css" />
		<link rel="stylesheet" href="tabs.css" />
		<title>Tabs</title>
	</head>
	<body>
		<header>
			<ul>
				<li>
					<a href="./index.html"><i class="fas fa-home"></i></a>
				</li>
				<li>
					<a href="../card2/card2.html">Cards</a>
					<a href="../chips/chips.html">Chips</a>
					<a href="../drawer/drawer.html">Drawers</a>
					<a href="../header/header.html">Headers</a>
					<a href="../badge/badge.html">Badges</a>
					<a href="../snackbar/snackbar.html">Snackbars</a>
					<a href="../dialogs/dialog2.html">Dialogs</a>
					<a href="./components/tabs/tabs.html">Tabs</a>
				</li>
			</ul>
		</header>
		<div id="tabs">
			<h1>Tabs</h1>
			<div class="tab-one">
				<h3>Basic</h3>
				<div class="tab-one-container">
					<h5 class="active-tab">TAB ONE</h5>
					<h5 class="tab-item">TAB TWO</h5>
					<h5 class="tab-item">TAB THREE</h5>
				</div>
			</div>

			<div class="tab-two">
				<h3>Leading Icons</h3>
				<div class="tab-two-container">
					<div>
						<i class="fas fa-clock"></i>
						<h5>TAB ONE</h5>
					</div>
					<div class="active-tab-three">
						<i class="fas fa-paper-plane"></i>
						<h5>TAB TWO</h5>
					</div>
					<div>
						<i class="fas fa-heart"></i>
						<h5>TAB THREE</h5>
					</div>
				</div>
			</div>

			<div class="tab-three">
				<h3>With Icons Only</h3>
				<div class="tab-three-container">
					<div>
						<i class="fas fa-home"></i>
					</div>
					<div>
						<i class="fas fa-search"></i>
					</div>
					<div>
						<i class="fas fa-photo-video"></i>
					</div>
					<div class="active-tab-three">
						<i class="far fa-heart"></i>
					</div>
					<div>
						<i class="fas fa-user"></i>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
