@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: rgb(231, 231, 252);
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 1rem 0;
    box-shadow: 5px 5px 5px rgb(29, 29, 29);
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: rgb(29, 13, 253);
    border-bottom: 2px solid rgb(31, 6, 255);
}

#welcome-msg {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    font-size: 3rem;
}

.btns {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

button {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 3px;
    border: 0;
    box-shadow: 5px 5px 5px rgb(68, 68, 68);
}

button:hover {
    background-color: rgb(202, 196, 252);
    color: white;
}