<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../card/card.css">
    <script src="https://kit.fontawesome.com/f9a7380946.js" crossorigin="anonymous"></script>
    <title>Cards</title>
</head>

<body>
    <h1>Cards</h1>
    <div id="card">

        <!-- Basic -->
        <div class="card-container">
            <h4 id="card-theme-name">Basic</h4>
            <div id="card-basic">
                <img src="../../images/img-card2.jpg" alt="">
                <div class="details">
                    <h5 class="name">Our Changing Plannet</h5>
                    <h6 class="by-photographer">Kurt Wagner</h6>
                    <h6 class="pic-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, itaque?
                    </h6>
                </div>
                <div class="footer">
                    <div class="left">
                        <h5 class="left-item"><i class="fab fa-readme"></i></h5>
                        <h5 class="left-item"><i class="fas fa-bookmark"></i></h5>
                    </div>
                    <div class="right">
                        <h5 class="right-item"><i class="far fa-thumbs-up"></i></h5>
                        <h5 class="right-item"><i class="fas fa-share-alt"></i></h5>
                        <!-- <h5 class="right-item">More</h5> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Basic with text over media -->
        <h4 id="card-theme-name">Basic with text over media</h4>
        <div id="card-basic">
            <img src="../../images/img-card2.jpg" alt="">
            <div class="details">
                <h5 class="name-over-img">Our Changing Plannet</h5>
                <h6 class="by-photographer-over-img">Kurt Wagner</h6>
                <h6 class="pic-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, itaque?</h6>
            </div>
            <div class="footer">
                <div class="left">
                    <h5 class="left-item"><i class="fab fa-readme"></i></h5>
                    <h5 class="left-item"><i class="fas fa-bookmark"></i></h5>
                </div>
                <div class="right">
                    <h5 class="right-item"><i class="far fa-thumbs-up"></i></h5>
                    <h5 class="right-item"><i class="fas fa-share-alt"></i></h5>
                    <!-- <h5 class="right-item">More</h5> -->
                </div>
            </div>
        </div>

        <!-- Basic with header -->
        <h4 id="card-theme-name">Basic with Header</h4>
        <div id="card-basic">
            <div class="card-header">
                <h5 class="name-over">Our Changing Plannet</h5>
                <h6 class="by-photographer">Kurt Wagner</h6>
            </div>
            <img src="../../images/img-card2.jpg" alt="">
            <div class="details">
                <h6 class="pic-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, itaque?</h6>
            </div>
            <div class="footer">
                <div class="left">
                    <h5 class="left-item"><i class="fab fa-readme"></i></h5>
                    <h5 class="left-item"><i class="fas fa-bookmark"></i></h5>
                </div>
                <div class="right">
                    <h5 class="right-item"><i class="far fa-thumbs-up"></i></h5>
                    <h5 class="right-item"><i class="fas fa-share-alt"></i></h5>
                    <!-- <h5 class="right-item">More</h5> -->
                </div>
            </div>
        </div>

        <!-- Basic with only Buttons -->
        <h4 id="card-theme-name">Basic with Only Buttons</h4>
        <div id="card-basic">
            <img src="../../images/img-card2.jpg" alt="">
            <div class="details">
                <h5 class="name">Our Changing Plannet</h5>
                <h6 class="by-photographer">Kurt Wagner</h6>
                <h6 class="pic-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, itaque?</h6>
            </div>
            <div class="footer-with-btns-only">
                <div class="left">
                    <h5 class="left-item"><i class="fab fa-readme"></i></h5>
                    <h5 class="left-item"><i class="fas fa-bookmark"></i></h5>
                </div>
            </div>
        </div>

        <!-- Basic with only icons -->
        <h4 id="card-theme-name">Basic with Only icons</h4>
        <div id="card-basic">
            <img src="../../images/img-card2.jpg" alt="">
            <div class="details">
                <h5 class="name">Our Changing Plannet</h5>
                <h6 class="by-photographer">Kurt Wagner</h6>
                <h6 class="pic-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum, itaque?</h6>
            </div>
            <div class="footer-with-icons-only">
                <div class="right">
                    <h5 class="right-item"><i class="far fa-thumbs-up"></i></h5>
                    <h5 class="right-item"><i class="fas fa-share-alt"></i></h5>
                    <h5 class="right-item"><i class="fas fa-ellipsis-v"></i></h5>
                </div>
            </div>
        </div>
    </div>
</body>

</html>