<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="card2.css">
    <script src="https://kit.fontawesome.com/f9a7380946.js" crossorigin="anonymous"></script>
    <title>Card 2</title>
</head>

<body>
    <header>
        <ul>
            <li>
                <a href="../../index.html"><i class="fas fa-home"></i></a>
            </li>
            <li>
                <a href="./card2.html">Cards</a>
                <a href="../chips/chips.html">Chips</a>
                <a href="../drawer/drawer.html">Drawers</a>
                <a href="../header/header.html">Headers</a>
                <a href="../badge/badge.html">Badges</a>
                <a href="../snackbar/snackbar.html">Snackbars</a>
                <a href="../dialogs/dialog2.html">Dialogs</a>
                <a href="../tabs/tabs.html">Tabs</a>
            </li>
        </ul>
    </header>

    <h1>Cards</h1>
    <div id="card-container">
        <!-- Basic -->
        <div class="card-basic">
            <img src="../../images/card-img.jpg" alt="">

            <div class="card-discription">
                <div class="name-ratings">
                    <h3 class="card-name">Sunglass</h3>
                    <h5 class="ratings">4.5</h5>
                </div>
                <h5 class="card-details">The Vincent Chase collection features some of the most stylish and trendy
                    sunglasses for men and women.
                </h5>
            </div>

            <div class="card-subdetails">
                <h5 class="price">Rs. 1999</h5>
                <div class="like"><i class="fa fa-heart" aria-hidden="true"></i></i></div>
            </div>

            <div class="card-btns">
                <div class="shop-now">Add to cart </div>
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>

        <!-- dark basic card -->
        <div class="card-dark-basic">
            <img src="../../images/card-img.jpg" alt="">

            <div class="card-discription">
                <div class="name-ratings">
                    <h3 class="card-name">Sunglass</h3>
                    <h5 class="ratings-dark">4.5</h5>
                </div>
                <h5 class="card-dark-details">The Vincent Chase collection features some of the most stylish and trendy
                    sunglasses for men and women.
                </h5>
            </div>

            <div class="card-subdetails">
                <h5 class="price">Rs. 1999</h5>
                <div class="like"><i class="fa fa-heart" aria-hidden="true"></i></div>
            </div>

            <div class="card-btns">
                <div class="shop-now">Add to cart </div>
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>

        <!-- short card -->
        <div class="card-basic">
            <div class="name-ratings">
                <h3 class="card-name">Sunglass</h3>
                <h5 class="ratings">4.5</h5>
            </div>
            <img src="../../images/card-img.jpg" alt="">

            <div class="card-discription">

                <h5 class="card-details">The Vincent Chase collection features some of the most stylish and trendy
                    sunglasses for men and women.
                </h5>
            </div>

            <div class="card-subdetails">
                <h5 class="price">Rs. 1999</h5>
                <div class="like"><i class="fa fa-heart" aria-hidden="true"></i></div>
            </div>

            <div class="card-btns">
                <div class="shop-now">Add to cart </div>
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>

        <!-- Card with name overlay -->
        <div class="card-overlay">
            <img src="../../images/card-img.jpg" alt="">

            <div class="card-discription">
                <div class="name-ratings-overlay">
                    <h3 class="card-name">Sunglass</h3>
                    <h5 class="ratings">4.5</h5>
                </div>
                <h5 class="card-details-overlay">The Vincent Chase collection features some of the most stylish and
                    trendy sunglasses for men and women.
                </h5>
            </div>

            <div class="card-subdetails-overlay">
                <h5 class="price">Rs. 1999</h5>
                <div class="like"><i class="fa fa-heart" aria-hidden="true"></i></i></div>
            </div>

            <div class="card-btns-overlay">
                <div class="shop-now">Add to cart </div>
                <i class="fas fa-cart-plus"></i>
            </div>
        </div>
    </div>
</body>

</html>