<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../style.css" />
		<link rel="stylesheet" href="chips.css" />
		<script
			src="https://kit.fontawesome.com/f9a7380946.js"
			crossorigin="anonymous"
		></script>
		<title>Chips</title>
	</head>
	<body>
		<header>
			<ul>
				<li>
					<a href="./index.html"><i class="fas fa-home"></i></a>
				</li>
				<li>
					<a href="../card2/card2.html">Cards</a>
					<a href="../chips/chips.html">Chips</a>
					<a href="../drawer/drawer.html">Drawers</a>
					<a href="../header/header.html">Headers</a>
					<a href="../badge/badge.html">Badges</a>
					<a href="../snackbar/snackbar.html">Snackbars</a>
					<a href="../dialogs/dialog2.html">Dialogs</a>
					<a href="../tabs/tabs.html">Tabs</a>
				</li>
			</ul>
		</header>
		<h1>Chips</h1>
		<div id="chips">
			<div class="chips-container">
				<div class="chip-box">
					<i class="fas fa-heart" id="heart"></i>
					<h6>HTML</h6>
					<i class="fas fa-times-circle"></i>
				</div>

				<div class="chip-box">
					<i class="fas fa-heart" id="heart"></i>
					<h6>CSS</h6>
					<i class="fas fa-times-circle"></i>
				</div>

				<div class="chip-box">
					<i class="fas fa-heart" id="heart"></i>
					<h6>Tailwind</h6>
					<i class="fas fa-times-circle"></i>
				</div>

				<div class="chip-box">
					<i class="fas fa-heart" id="heart"></i>
					<h6>JavaScript</h6>
					<i class="fas fa-times-circle"></i>
				</div>

				<div class="chip-box">
					<i class="fas fa-heart" id="heart"></i>
					<h6>ReactJs</h6>
					<i class="fas fa-times-circle"></i>
				</div>

				<div class="chip-box">
					<i class="fas fa-heart" id="heart"></i>
					<h6>Angular</h6>
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
		</div>
	</body>
</html>
