<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../style.css" />
		<link rel="stylesheet" href="./drawer.css" />
		<script
			src="https://kit.fontawesome.com/f9a7380946.js"
			crossorigin="anonymous"
		></script>
		<title>Drawer</title>
	</head>
	<body>
		<header>
			<ul>
				<li>
					<a href="./index.html"><i class="fas fa-home"></i></a>
				</li>
				<li>
					<a href="../card2/card2.html">Cards</a>
					<a href="../chips/chips.html">Chips</a>
					<a href="../drawer/drawer.html">Drawers</a>
					<a href="../header/header.html">Headers</a>
					<a href="../badge/badge.html">Badges</a>
					<a href="../snackbar/snackbar.html">Snackbars</a>
					<a href="../dialogs/dialog2.html">Dialogs</a>
					<a href="../tabs/tabs.html">Tabs</a>
				</li>
			</ul>
		</header>
		<h1>Drawer</h1>
		<div id="drawer">
			<div class="drawer-one">
				<div class="header">
					<h4 class="title">Title</h4>
					<h6 class="subtitle">subtitle</h6>
				</div>
				<div class="drawer-one-main">
					<h5 class="drawer-item" id="active">
						<i class="fas fa-inbox"></i>Inbox
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-star"></i>Starred
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-paper-plane"></i>Sent
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-envelope-open-text"></i>Drafts
					</h5>
				</div>
			</div>

			<div class="drawer-two">
				<div class="header">
					<h4 class="title">Title</h4>
					<h6 class="subtitle">subtitle</h6>
				</div>
				<div class="drawer-two-main">
					<h5 class="drawer-item">
						<i class="fas fa-inbox"></i>Inbox
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-star"></i>Starred
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-paper-plane"></i>Sent
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-envelope-open-text"></i>Drafts
					</h5>

					<h5 class="drawer-item-categories">Categories</h5>

					<h5 class="drawer-item" id="active">
						<i class="fas fa-mail-bulk"></i>Important
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-exclamation-circle"></i>Spam
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-paper-plane"></i>Family
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-home"></i>Friend
					</h5>
					<h5 class="drawer-item">
						<i class="fas fa-building"></i>Company
					</h5>

					<h5 class="drawer-item-settings">
						<i class="fas fa-cog"></i>Settings
					</h5>
					<h5 class="drawer-item-settings">
						<i class="fas fa-question-circle"></i>Help & Feedback
					</h5>
				</div>
			</div>
		</div>
	</body>
</html>
