<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../style.css" />
		<link rel="stylesheet" href="./badge.css" />
		<script
			src="https://kit.fontawesome.com/f9a7380946.js"
			crossorigin="anonymous"
		></script>
		<title>Badges</title>
	</head>
	<body>
		<header>
			<ul>
				<li>
					<a href="./index.html"><i class="fas fa-home"></i></a>
				</li>
				<li>
					<a href="../card2/card2.html">Cards</a>
					<a href="../chips/chips.html">Chips</a>
					<a href="../drawer/drawer.html">Drawers</a>
					<a href="../header/header.html">Headers</a>
					<a href="../badge/badge.html">Badges</a>
					<a href="../snackbar/snackbar.html">Snackbars</a>
					<a href="../dialogs/dialog2.html">Dialogs</a>
					<a href="../tabs/tabs.html">Tabs</a>
				</li>
			</ul>
		</header>
		<h1>Badges</h1>
		<div id="badges">
			<div class="badge-one">
				<div class="badge-icon">
					<i class="fab fa-facebook-messenger"></i>
					<span class="icon-badge-nums">2</span>
				</div>
				<div class="badge-icon">
					<i class="fab fa-instagram"></i>
					<span class="icon-badge-nums">25</span>
				</div>
				<div class="badge-icon">
					<i class="fab fa-twitter"></i>
					<span class="icon-badge-nums-blue">25</span>
				</div>
			</div>

			<div class="badge-two">
				<div class="badge-icon">
					<i class="fas fa-user"></i>
					<span class="icon-badge-status-active"></span>
				</div>
				<div class="badge-icon">
					<i class="fas fa-envelope"></i>
					<span class="icon-badge-status-busy"></span>
				</div>
				<div class="badge-icon">
					<i class="fab fa-facebook-square"></i>
					<span class="icon-badge-status-away">2</span>
				</div>
			</div>
		</div>
	</body>
</html>
