<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script
			src="https://kit.fontawesome.com/f9a7380946.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="../../style.css" />
		<title>Snackbar</title>
	</head>
	<body>
		<header>
			<ul>
				<li>
					<a href="./index.html"><i class="fas fa-home"></i></a>
				</li>
				<li>
					<a href="../card2/card2.html">Cards</a>
					<a href="../chips/chips.html">Chips</a>
					<a href="../drawer/drawer.html">Drawers</a>
					<a href="../header/header.html">Headers</a>
					<a href="../badge/badge.html">Badges</a>
					<a href="../snackbar/snackbar.html">Snackbars</a>
					<a href="../dialogs/dialog2.html">Dialogs</a>
					<a href="../tabs/tabs.html">Tabs</a>
				</li>
			</ul>
		</header>
		<h1>Snackbar</h1>
	</body>
</html>
