<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="dialogs.css">
    <title>Dialog 2</title>
</head>
<body>
    <h1>Dialog</h1>

    <div id="dialogs">
        <!-- Dialog 1 -->
        <dialog id="dialog-one">
            <h3>Alert!</h3>
            <p>Are you sure you want to exit?</p>
            <div-dialog-btns>
                <button id="hide-dialog-one-btn">Okay</button>
                <!-- <button id="hide-dialog-one">No</button> -->
            </div-dialog-btns>
        </dialog>
        <button id="show-dialog-one">Show Dialog 1</button>

        <!-- Dialog 2 -->
        <dialog id="dialog-two">
            <h3>Do you want to delete this account?</h3>
            <p>You cannot undo once deleted.</p>
            <div class="dialog-btns">
                <button id="hide-dialog-two-yes">Cancel</button>
                <button id="hide-dialog-two-no">Delete</button>
            </div>
        </dialog>
        <button id="show-dialog-two">Show Dialog 2</button>
    </div>

    <script src="dialog.js"></script>
</body>
</html>